.pageContainer {
  display: flex;
  background-color: blue;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.headerBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 48px 0px 40px;
  width: 100%;
  background-color: brown;
}

.headerBox1 {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerBox2 {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 15px;
}

.formWrapper {
  background-color: green;
  width: 100%;
  height: 70%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 48px;
}

.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: brown;
  /* justify-content: center; */
  height: 80%;
}

.loginButton {
  background-color: purple;
  border-radius: 10px;
  &:hover {
    background-color: rgb(154, 71, 154);
  }
}
